{{#each listItems as |feat id|}}
<li class="feat flexrow draggable" data-entry-compendium="{{feat.compendium}}" data-entry-id="{{id}}">
	<div class="item-image">
		<img
			class=""
			data-src="{{feat.img}}"
			data-tooltip="{{feat.name}}"
			data-tooltip-direction="UP"
			width="32"
			height="32"
		/>
	</div>
	<div class="item-name">
		<span class="item-edit"
			><a data-tooltip="({{feat.compendium}})" data-tooltip-direction="UP">{{feat.name}}</a></span
		>
	</div>
	<div class="feat-tags">
		<span data-tooltip="Class Requirement" data-tooltip-direction="UP">{{feat.classRequirementString}}</span>
	</div>
	<div class="filter-tags">
		<input type="hidden" name="class" value="{{feat.classRequirementString}}" />
	</div>
</li>
{{/each}}
