<div class="feat-browser browser flexrow">
    <div class="control-area">
        <div class="filtercontainer" id="tagfilter">            
            <div class="filter"  data-type="text" data-path="name">
                <input class="" name="textFilter" type="text" value="" data-dtype="String" placeholder="{{localize "Name"}}"/>
            </div> 
            <button id="reset-feat-filter">{{localize "CMPBrowser.Filters.ResetFilters"}}</button>
        </div>
        {{> "modules/compendium-browser-t20/template/filter-container.html" filters=featFilters}}
    </div>
    <div class="list-area flexcol">
        <span id="CBFeatsMessage" style="flex:0"></span>
        <ul id="CBFeats">
            {{> "modules/compendium-browser-t20/template/feat-browser-list.html" feats=items}}
        </ul>
    </div>

</div>