<div class="item-browser browser flexrow">
    <div class="control-area">
        <div class="filtercontainer" id="tagfilter">            
            <div class="filter"  data-type="text" data-path="name">
                <input class="" name="textFilter" type="text" value="" data-dtype="String" placeholder="{{localize "Name"}}"/>
            </div>
            <button id="reset-item-filter">{{localize "CMPBrowser.Filters.ResetFilters"}}</button>
        </div>
        {{> "modules/compendium-browser-t20/template/filter-container.html" filters=itemFilters}}
    </div>
    <div class="list-area flexcol">
        <span id="CBItemsMessage" style="flex:0"></span>
        <ul id="CBItems">
            {{> "modules/compendium-browser-t20/template/item-browser-list.html" items=items}}
        </ul>
    </div>        
</div>