<div class="npc-browser browser flexrow">
    <div class="control-area">
        <div class="filtercontainer" id="tagfilter">   
            <div class="filter"  data-type="text" data-path="name">         
                <input class="" name="textFilter" type="text" value="" data-dtype="String" placeholder="{{localize "Name"}}"/>
            </div>
            <button id="reset-npc-filter">{{localize "CMPBrowser.Filters.ResetFilters"}}</button>
        </div>                
        {{> "modules/compendium-browser-t20/template/filter-container.html" filters=npcFilters}}
    </div>
    <div class="list-area flexcol">
        <span id="CBNpcsMessage" style="flex:0"></span>
        <ul id="CBNPCs">
            {{> "modules/compendium-browser-t20/template/npc-browser-list.html" npcs=npcs}}
        </ul>
    </div>
</div>