{{#each listItems as |npc id|}}
<li class="npc flexrow draggable" data-entry-compendium="{{npc.compendium}}" data-entry-id="{{id}}">
    <div class="npc-image">
        <img class="" data-src="{{npc.img}}" title="{{npc.name}}" width="32" height="32" />
    </div>
    <div class="npc-line">
        <div class="npc-name">
            <span class="item-edit"><a title="({{npc.compendium}})">{{npc.name}}</a></span>
        </div>
        <div class="npc-tags">
            <span class="cr" title="Challange Rating">CR {{npc.displayCR}}</span>
            <span class="size">{{npc.displaySize}}</span>
            <span class="type">{{npc.displayType}}</span>
        </div>
        <div class="filter-tags">
            <input type="hidden" name="order.cr" value="{{npc.orderCR}}">
            <input type="hidden" name="order.size" value="{{npc.orderSize}}">
        </div>
    </div>
</li>
{{/each}}
