<div class="settings">
	<div class="settings-group">
		<h3>{{localize "CMPBrowser.generalSettings"}}</h3>
		<label>
			<input data-setting="allow-spell-browser" type="checkbox" {{checked settings.allowSpellBrowser}} />
			<h4>{{localize "CMPBrowser.allowSpellAcc"}}</h4>
		</label>
		<label>
			<input data-setting="allow-feat-browser" type="checkbox" {{checked settings.allowFeatBrowser}} />
			<h4>{{localize "CMPBrowser.allowFeatAcc"}}</h4>
		</label>
		<label>
			<input data-setting="allow-item-browser" type="checkbox" {{checked settings.allowItemBrowser}} />
			<h4>{{localize "CMPBrowser.allowItemAcc"}}</h4>
		</label>
		<label>
			<input data-setting="allow-npc-browser" type="checkbox" {{checked settings.allowNpcBrowser}} />
			<h4>{{localize "CMPBrowser.allowNpcAcc"}}</h4>
		</label>
	</div>

	<div class="settings-group">
		<h3>{{localize "CMPBrowser.compSettingsSpell"}}</h3>
		{{#each settings.loadedSpellCompendium as |spellComp key|}}
		<label>
			<input
				data-setting="spell-compendium-setting"
				data-key="{{key}}"
				data-type="spell"
				type="checkbox"
				{{checked
				spellComp.load}}
			/>
			<h4>{{localize "CMPBrowser.load"}} {{spellComp.name}}</h4>
		</label>
		{{/each}}
	</div>
	<div class="settings-group">
		<h3>{{localize "CMPBrowser.compSettingsNpc"}}</h3>
		{{#each settings.loadedNpcCompendium as |npcComp key|}}
		<label>
			<input
				data-setting="npc-compendium-setting"
				data-key="{{key}}"
				data-type="npc"
				type="checkbox"
				{{checked
				npcComp.load}}
			/>
			<h4>{{localize "CMPBrowser.load"}} {{npcComp.name}}</h4>
		</label>
		{{/each}}
	</div>
</div>
