{{#each filters.registeredFilterCategories as |cat key|}}
<div class="filtercontainer" id="{{key}}">
	<h3>{{cat.label}}</h3>
	<div class="filters">
		{{#each cat.filters as |filter key|}}
		<div
			class="filter"
			id="{{cat.labelId}}-{{filter.labelId}}"
			data-path="{{filter.path}}"
			data-type="{{filter.type}}"
			data-valIsArray="{{filter.valIsArray}}"
		>
			{{#if filter.istext}}
			<dt>{{filter.label}}</dt>
			<dd>
				{{#if filter.possibleValues}}
				<select>
					<option value="" selected></option>
					{{#each filter.possibleValues as |label val|}}
					<option value="{{val}}">{{label}}</option>
					{{/each}}
				</select>
				{{else}}
				<input type="text" />
				{{/if}}
			</dd>
			{{/if}} {{#if filter.isbool}}
			<dl>
				<dt>{{filter.label}}</dt>
				<dd>
					<select>
						<option value="null" selected></option>
						<option value="true">{{localize "Yes"}}</option>
						<option value="false">{{localize "No"}}</option>
					</select>
				</dd>
			</dl>
			{{/if}} {{#if filter.isselect}}
			<dl>
				<dt>{{filter.label}}</dt>
				<dd>
					<select>
						<option value="null" selected></option>
						{{#each filter.possibleValues as |label val|}}
						<option value="{{val}}">{{label}}</option>
						{{/each}}
					</select>
				</dd>
			</dl>
			{{/if}} {{#if filter.ismultiSelect}}
			<div class="multiselect">
				<label>{{filter.label}}</label>
				<dl>
					{{#each filter.possibleValues as |label val|}}

					<dt><label>{{label}}</label></dt>
					<dd><input type="checkbox" data-value="{{val}}" /></dd>
					{{/each}}
				</dl>
			</div>
			{{/if}} {{#if filter.isnumberCompare}}
			<div class="numberCompare">
				<dt>{{filter.label}}</dt>
				<dd>
					<select class="small-select">
						<option value="null" selected></option>
						<option value="=">=</option>
						<option value="<">&lt;</option>
						<option value=">">&gt;</option>
					</select>
					<input class="small-input" type="number" />
				</dd>
			</div>
			{{/if}}
		</div>
		{{/each}}
	</div>
</div>
{{/each}}
