{{#each listItems as |item id|}}
<li class="item flexrow draggable" data-entry-compendium="{{item.compendium}}" data-entry-id="{{id}}">
	<div class="item-image">
		<img
			class=""
			data-src="{{item.img}}"
			data-tooltip="{{item.name}}"
			data-tooltip-direction="UP"
			width="32"
			height="32"
		/>
	</div>
	<div class="item-name">
		<span class="item-edit"
			><a data-tooltip="({{item.compendium}})" data-tooltip-direction="UP">{{item.name}}</a></span
		>
	</div>
	<div class="item-tags">
		<span data-tooltip="Item Type" data-tooltip-direction="UP">{{item.type}}</span>
	</div>
	<div class="filter-tags">
		<input type="hidden" name="type" value="{{item.type}}" />
	</div>
</li>
{{/each}}
