<div class="npc-browser browser flexrow">
	<div class="control-area">
		<div class="filtercontainer" id="tagfilter">
			<div class="filter" data-type="text" data-path="name">
				<input
					class=""
					name="textFilter"
					type="text"
					value=""
					data-dtype="String"
					placeholder="{{localize
				'Name'}}"
				/>
			</div>
			<dl id="sorter">
				<dt>{{localize "CMPBrowser.sortBy"}}:</dt>
				<dd>
					<select name="sortorder">
						<option value="name" selected>{{localize "Name"}}</option>
						<option value="cr">{{localize "DND5E.ChallengeRating"}}</option>
						<option value="size">{{localize "DND5E.Size"}}</option>
					</select>
				</dd>
			</dl>
			<button id="reset-npc-filter">{{localize "CMPBrowser.Filters.ResetFilters"}}</button>
		</div>
		{{> "modules/compendium-browser/templates/filter-container.html" filters=npcFilters}}
	</div>
	<div class="list-area flexcol">
		<ul id="CBNPCs">
			{{> "modules/compendium-browser/templates/npc-browser-list.html" npcs=npcs}}
		</ul>
		<span class="loading" id="CBNpcsMessage" style="flex: 0"></span>
	</div>
</div>
