{{#each listItems as |npc id|}}
<li class="npc flexrow draggable" data-entry-compendium="{{npc.compendium}}" data-entry-id="{{id}}">
	<div class="npc-image">
		<img
			class=""
			data-src="{{npc.img}}"
			data-tooltip="{{npc.name}}"
			data-tooltip-direction="UP"
			width="32"
			height="32"
		/>
	</div>
	<div class="npc-line">
		<div class="npc-name">
			<span class="item-edit"
				><a data-tooltip="({{npc.compendium}})" data-tooltip-direction="UP">{{npc.name}}</a></span
			>
		</div>
		<div class="npc-tags">
			<span class="cr" data-tooltip="Challange Rating" data-tooltip-direction="UP">CR {{npc.displayCR}}</span>
			<span class="size">{{npc.displaySize}}</span>
			<span class="type">{{npc.displayType}}</span>
		</div>
		<div class="filter-tags">
			<input type="hidden" name="order.cr" value="{{npc.orderCR}}" />
			<input type="hidden" name="order.size" value="{{npc.orderSize}}" />
		</div>
	</div>
</li>
{{/each}}
