<div class="spell-browser browser flexrow">
	<div class="control-area">
		<div class="filtercontainer" id="tagfilter">
			<div class="filter" data-type="text" data-path="name">
				<input
					class=""
					name="textFilter"
					type="text"
					value=""
					data-dtype="String"
					placeholder="{{localize
				'Name'}}"
				/>
			</div>
			<dl id="sorter">
				<dt>{{localize "CMPBrowser.sortBy"}}:</dt>
				<dd>
					<select name="sortorder">
						<option value="true" selected>{{localize "Name"}}</option>
						<option value="false">{{localize "DND5E.Level"}}</option>
					</select>
				</dd>
			</dl>
			<button id="reset-spell-filter">{{localize "CMPBrowser.Filters.ResetFilters"}}</button>
		</div>
		{{> "modules/compendium-browser/templates/filter-container.html" filters=spellFilters}}
	</div>
	<div class="list-area flexcol">
		<ul id="CBSpells">
			{{> "modules/compendium-browser/templates/spell-browser-list.html" spells=items}}
		</ul>
		<span class="loading" id="CBSpellsMessage" style="flex: 0"></span>
	</div>
</div>
