<div class="parent">
  <div class="tabs">
    {{#if showSpellBrowser}}<a class="item" data-tab="spell"
      >{{localize "CMPBrowser.Tab.SpellBrowser"}}</a
    >{{/if}} {{#if showFeatBrowser}}<a class="item" data-tab="feat"
      >{{localize "CMPBrowser.Tab.FeatBrowser"}}</a
    >{{/if}} {{#if showItemBrowser}}<a class="item" data-tab="item"
      >{{localize "CMPBrowser.Tab.ItemBrowser"}}</a
    >{{/if}} {{#if showNpcBrowser}}<a class="item" data-tab="npc"
      >{{localize "CMPBrowser.Tab.NPCBrowser"}}</a
    >{{/if}} {{#if isGM}}<a class="item" data-tab="setting"
      >{{localize "CMPBrowser.Tab.Settings"}}</a
    >{{/if}}
  </div>

  <div class="content">
    <div class="tab" data-tab="spell">
      {{#if showSpellBrowser}}{{>
      "modules/compendium-browser/templates/spell-browser.html"}}{{/if}}
    </div>
    <div class="tab" data-tab="feat">
      {{#if showFeatBrowser}}{{>
      "modules/compendium-browser/templates/feat-browser.html"}}{{/if}}
    </div>
    <div class="tab" data-tab="item">
      {{#if showItemBrowser}}{{>
      "modules/compendium-browser/templates/item-browser.html"}}{{/if}}
    </div>
    <div class="tab" data-tab="npc">
      {{#if showNpcBrowser}} {{>
      "modules/compendium-browser/templates/npc-browser.html"}}{{/if}}
    </div>
    <div class="tab" data-tab="setting">
      {{#if isGM}} {{>
      "modules/compendium-browser/templates/settings.html"}}{{/if}}
    </div>
  </div>
</div>
